
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample</title>
</head>
<body>
    <div>
        Seat already occuped, please attention at checkbox
    </div>

    <p>
        <a href="@Url.Action("ProductGallery", "Home")">Return to gallery</a>
    </p>
</body>
</html>
