<!DOCTYPE html>
<html lang="en">
<!-- Basic -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Site Metas -->
    <title>MyCupOverflows - Welcome to our shop</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="Content/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="Content/images/apple-touch-icon.png" />
    

    <style>
        body {
            font: 18px/1.6666 'Muli Regular',arial,serif;
            letter-spacing: .025em;
        }
        .inner-column {
            font: 30px/1.6666 'Muli Regular',script,serif;
            letter-spacing: .025em;
        }
        header {
            background: url(https://www.coffeeaddress.com/file/2018/06/26/main.jpg) center center no-repeat;
            background-image: url(https://www.coffeeaddress.com/file/2018/06/26/main.jpg);
            background-position-x: center;
            background-position-y: center;
            background-attachment: local;
            background-origin: initial;
            background-clip: initial;
            background-color: initial;
            background-size: cover;
            box-sizing: border-box;
            height: 690px;
        }
        .homepage__slogan-bg {
            background: #0f0f0f;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            animation: intro 2s ease-out forwards;
        }
        .homepage__slogan-bg--small {
            background: none;
                
            display: block;
        }
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        .homepage__slogan-text {
            position: absolute;
            top: 0;
            width: 100%;
            left: 0;
            padding: 220px 0 0;
            opacity: 0;
            animation: transition-in 1.5s forwards;
        }
        .homepage__slogan {
    min-height: 700px;
    text-align: center;
    color: #fff;
    position: relative;
    overflow: hidden;
}
        div {
            display: block;
        }
        .collapse navbar-collapse {
            background-color: #FFFFFF;
            overflow: hidden;
            text-align: center;
            font-size: 15px;
            margin-top: 35px;
            margin-bottom: 35px;
        }

        .navbar-nav ml-auto {
            list-style-type: none;
            margin-right: auto;
            margin-left: auto;
            height: min-content;
            margin-top: auto;
            margin-bottom: auto;
            overflow: hidden;
            padding: 0px;
            background-color: #FFFFFF;
        }

        .nav-link dropdown-toggle {
            background: #d0a772;
            color: #ffffff;
            float: left;
            font-size: 20px;
        }

             .nav-link dropdown-toggle a {
                background: white;
                display: block;
                color: black;
                text-align: center;
                padding: 27.5px 25px;
                text-decoration: none;
                font-size: 20px;
            }


        .m-b-20 {
            font-size: 50px;
            font-weight: bold;
           
        }
        .text-center{
            width: 50%;
        }
        .customer-reviews-box {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between
        }
    </style>
</head>
<!-- Start header -->
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <p class="lead " , style="color:white; text-align:center; padding-top:100px; font-size: 50px ">
            "I like coffee because it gives me the </br>
            illusion that I might be awake."</br>
            Lewis Black

        </p>

    </nav>
</header>
<div class="homepage__slogan-bg homepage__slogan-bg--small" style="background: url(https://www.coffeeaddress.com/file/2018/06/26/main.jpg) center center no-repeat;background-size: cover;">
    <p class="lead " , style="color: #4D4F4F; padding-left: 40%; padding-top: 425px; font-size: 30px">
        "I like coffee because it gives me the </br>
        illusion that I might be awake."</br>
        Lewis Black

    </p>
</div>
<!-- End header -->
<body>
    <!-- Start slides -->
    
    <div class="welcome">
        <h1 class="m-b-20">Welcome To <br> MyCupOverflows</h1>
    </div>
    <div id="slides" class="cover-slides">
            <li class="text-center">
                <img src="https://media.istockphoto.com/photos/happy-coffee-cup-picture-id508347326?k=20&m=508347326&s=612x612&w=0&h=phdf_0eKqIbCj2ayXuXRktf8JGugJqFXdi6A8gBL6vU=" alt="">
            </li>
    </div>
    <!-- End slides -->
    <!-- Start About -->
    <div class="about-section-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12" style="padding-top: 20px">
                    <img src="https://www.coffeeaddress.com/file/manual/New%20images/coffee_us_our_coffee.jpg" alt="" class="img-fluid" width="597" height="500">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                    <div class="inner-column">
                        <h1>Our <span>Little Story</span></h1>
                        <p>The story of our little coffee shop, in the story of the french and there love for coffee's house. </p>
                        <p>We create this shop for the love of coffee and computers combine.  </p>
                        <a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a>
                    </div>
                </div>f
            </div>
        </div>
    </div>
    <!-- End About -->
    <!-- Start Menu -->
    <div class="menu-box">
        <div class="container" >
            <div class="row" style="padding-left:500px"> 
                <h2>Menu</h2>          
            </div>
            <div class="row special-list">
                <div class="gallery-single fix">
                    <img src="https://blog.but.fr/wp-content/uploads/2019/12/01-choisir-cafe-grain.jpg" class="img-fluid" alt="Image" style="height: 400px; width: 400px">
                    <div class="why-text">
                        <h3>Coffee - $5</h3>
                        <p>Served with its pastry</p>
                    </div>
                </div>

                <div class="gallery-single fix" style="padding-left:400px">
                    <img src="https://www.aicr.org/wp-content/uploads/2020/06/peppermint-tea-on-teacup-1417945-1200x826.jpg.webp" class="img-fluid" alt="Image" style="height: 300px; width: 380px">
                    <div class="why-text">
                        <h3>Tea - $5</h3>
                        <p>Served with homemade cookies</p>
                    </div>
                </div>
                <div class="gallery-single fix" style="padding-left:780px">
                    <img src="https://www.cookingclassy.com/wp-content/uploads/2018/10/hot-chocolate-15.jpg" class="img-fluid" alt="Image" style="height: 250px; width: 350px">
                    <div class="why-text">
                        <h3>Hot chocolate - $6</h3>
                        <p>Served with a pie</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid dinner">
                    <div class="gallery-single fix">
                        <img src="https://www.lovemysalad.com/sites/default/files/styles/home_carousel_item_768/public/kopfsalat_mit_kaese_und_avocado.jpg?itok=oN85kPZl" class="img-fluid" alt="Image" style="height: 300px;width: 350px">
                        <div class="why-text">
                            <h3>Lettuce salad with cheese and avocado - $15</h3>
                            <p>Lettuce, tomatoes, semi-soft cheese, hard-boiled eggs, avocado, fresh basil leaves</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid dinner">
                    <div class="gallery-single fix">
                        <img src="https://mccormick.widen.net/content/z8hiapwdst/original/quick_and_easy_french_toast_new_800x800.webp" class="img-fluid" alt="Image" style="height: 300px; width: 350px">
                        <div class="why-text">
                            <h3>French toast - $18</h3>
                            <p>6 slices brioche or white sandwich bread, mapple syrup, butter, eggs, cheese, strawberries, cramberries</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 special-grid dinner">
                    <div class="gallery-single fix">
                        <img src="https://declerck.fr/wp-content/uploads/2020/10/panier_miniviennoiseries.jpg" class="img-fluid" alt="Image" style="height: 300px; width: 450px">
                        <div class="why-text">
                            <h3>Viennoiseries - $15</h3>
                            <p>About fifteen pastries served in a beautiful basket</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-single fix" style="padding-left:780px">
                    <img src="https://img.cuisineaz.com/660x660/2013/12/20/i86534-cocktail-margarita.jpeg" class="img-fluid" alt="Image" style="height: 400px; width: 400px">
                    <div class="why-text">
                        <h3>Margarita - $8</h3>
                        <p>Tequila, orange liqueur, lime juice</p>
                    </div>
                </div>

                <div class="gallery-single fix" style="padding-left:400px">
                    <img src="~/Content/images/img-03.jpg" class="img-fluid" alt="Image" style="height: 300px; width: 380px">
                    <div class="why-text">
                        <h3>Flip automnal - $8</h3>
                        <p>Rhum, lime, sirop</p>
                    </div>
                </div>
                <div class="gallery-single fix">
                    <img src="https://www.recette247.com/wp-content/uploads/2021/12/Mojito-Leger-de-Noel-990x740.jpg" class="img-fluid" alt="Image" style="height: 250px; width: 350px">
                    <div class="why-text">
                        <h3>Mojito revisited - $8</h3>
                        <p>White rum, cane sugar syrup, mint,</br> red fruit liqueur, lime</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Menu -->
    <!-- Start Gallery -->
    <div class="gallery-box">
        <div class="container-fluid">
            <div class="row">
                        <h2>Gallery</h2>                   
            </div>
            <div class="tz-gallery">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4">  
                            <img class="img-fluid" src="https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29mZmVlJTIwc2hvcCUyMGludGVyaW9yfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="Gallery Images" style="height: 120%; width:120%">
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                            <img class="img-fluid" src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F9%2F2020%2F10%2F13%2Fcoffee-shops-closing-FT-BLOG1020.jpg" alt="Gallery Images" style="height: 120%; width:120%">
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                            <img class="img-fluid" src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/food-beverage-nutrition/beveragedaily.com/news/markets/us-coffee-shop-market-grows-to-45.4bn-valuation-in-2018/8803729-1-eng-GB/US-coffee-shop-market-grows-to-45.4bn-valuation-in-2018_wrbm_large.jpg" alt="Gallery Images" style="height: 120%; width:112%">
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                            <img class="img-fluid" src="https://media.phillyvoice.com/media/images/5.15coffeeshop5.2e16d0ba.fill-735x490.png" alt="Gallery Images" style="height: 120%; width:120%">
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                            <img class="img-fluid" src="https://media.istockphoto.com/vectors/decor-for-a-shop-or-cafe-with-pastries-bread-baking-bakery-store-vector-id1014321444" alt="Gallery Images" style="height: 120%; width:120%">
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                            <img class="img-fluid" src="~/Content/images/gallery-img-06.jpg" alt="Gallery Images" style="height: 120%; width:120%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Gallery -->
    <!-- Start Customer Reviews -->
    <div class="customer-reviews-box">
                <div class="col-md-8 mr-auto ml-auto text-center">
                    
                        <h3>Norbert Zarka</h3>
                        <p>
                            Very nice! </br>
                            A very calm coffee along the canals,
                            excellent homemade pastries 
                            (accompanied by a tea or a succulent hot chocolate)
                            and moreover quality for weed lovers.</br>

                            Date of visit: November 2021
                        </p>
                 
                </div>
                <div class="col-md-8 mr-auto ml-auto text-center">
                        <h3>Lola Parker</h3>
                        <p>
                            😍 FINALLY A REAL COFFEE SHOP 😍</br>
                            Thank you both for your wonderful Coffee Shop ✌
                            We stopped on our bikes at your place and after a delicious Tchaï and a White we left reinvigorated.
                            It's a change from those money machines with black lights in downtown canteens
                            Keep smiling cause you passed it on to us</br>

                            Date of visit: October 2021
                        </p>
                </div>
                <div class="col-md-8 mr-auto ml-auto text-center">
                        <h3>Savana Sellem</h3>
                        <p>
                            Pure happiness...</br>
                            a real pleasure, an entrance strewn with plants and minerals,
                            a few steps and it's almost like being in my living room,
                            at home. Set back from the city center, it is mainly
                            occupied by local regulars despite a few reckless tourists.
                            fashion decor recycling of furniture and retro for my part
                            makes me feel as if I were invited to have coffee at a
                            French's...really to be recommended but above all to be
                            respected,friendly welcome, fair price, homemade bakery, small
                            menu at the grass level but a delicious homemade cookie so it seems.</br>

                            Date of visit: January 2022
                        </p>
                </div>
     </div>
    <!-- End Customer Reviews -->
    <!-- Start Footer -->
    <footer class="footer-area bg-f">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-volume-control-phone"></i>
                    <div class="overflow-hidden">
                        <h4>Phone</h4>
                        <p class="lead">
                            +972 579863254
                        </p>
                        <h4>Email</h4>
                        <p class="lead">
                            mcof@ac.sce.ac.il
                        </p>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <i class="fa fa-map-marker"></i>
                    <div class="overflow-hidden">
                        <h4>Location</h4>
                        <p class="lead">
                            110 Bazel, BEER SHEVA, Israel
                        </p>
                    </div>
                    </div>
                <div class="col-lg-3 col-md-6">
                    <h3>Opening hours</h3>
                    <p><span class="text-color">Sun-Thu: </span>9AM - 11PM</p>
                    <p><span class="text-color">Fri :</span> 9AM - 2PM</p>
                    <p><span class="text-color">Saturday:</span> Closed</p>
                </div>
                    
                </div>
            </div>

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="company-name">
                            All Rights Reserved. &copy; 2022 <a href="#">MyCupOverflows</a> Design By : Sarah Mimoun
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="Scripts/js/jquery-3.4.1.min.js"></script>
    <script src="Scripts/js/popper.min.js"></script>
    <script src="Scripts/js/bootstrap.min.js"></script>
    <!-- ALL PLUGContent/INS -->
    <script src="~/Scripts/js/jquery.superslides.min.js"></script>
    <script src="~/Scripts/js/images-loded.min.js"></script>
    <script src="~/Scripts/js/isotope.min.js"></script>
    <script src="~/Scripts/js/baguetteBox.min.js"></script>
    <script src="~/Scripts/js/form-validator.min.js"></script>
    <script src="~/Scripts/js/contact-form-script.js"></script>
    <script src="~/Scripts/js/custom.js"></script>
</body>
</html>